@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Line Seed JP", sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom,
    theme('colors.sky-100') 70%,
    theme('--color-green-100') 30%
  );
  min-height: 100vh; /* Ensures the split covers the full screen height */
}

#root {
  @apply mx-auto flex min-h-[100svh] w-full max-w-[1126px] flex-col text-center box-border;
}
